<h2>{{t "radar:label.posts"}} <span class="glyphicon glyphicon-pencil"></span></h2>

{{#each content}}
  <div class="jumbotron">
    <h2>{{title}}, <small>By {{author}}</small></h2>
    <p class="lead">{{body}}</p>
  </div>

  <h2>{{t "radar:label.comments"}} <span class="glyphicon glyphicon-comment"></span></h2>

  {{#each comment}}
    <div class="panel panel-default">
      {{> contentComments}}
    </div>
  {{/each}}
{{/each}}

<a href="#">Back to {{t "nav.home"}}</a>
